/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/ 
.banner{ 
	background:url(../images/dasar.jpg)no-repeat center bottom;
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover;
	-ms-background-size:cover; 	
	background-size:cover; 
	min-height: 790px;
} 
/*-- header --*/ 
.header {
    padding-top: 2em;
} 
.header-w3lsrow{
	position: relative;
}
.logo {
    float: left;
    width: 54%;
    text-align: right;
    padding-top: 0.5em;
}
.header-right {
    float: right;
    padding-top: 0.8em;
}
.logo h1 {
    font-size: 3.5em;
    line-height: 0.7em;
    text-transform: uppercase;
    font-weight: 700; 
    text-shadow: 3px 2px 0px #fff;
	font-family: 'Dancing Script', cursive;
}
.logo h1 a,.logo h1 a:hover{
    color: #FFFFFF;
	text-decoration: none;
	outline:none;
} 
.header-right ul{
	display:inline-block;
	padding: 0;
}
.header-right ul li { 
    display: inline-block; 
	margin-left: 2em;
} 
.header-right ul li a {
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.header-right ul li a:hover,.header-right ul li a.active{ 
	color: #09e3ff;
}  
/*-- //header --*/
/*-- menu --*/   
.menu {
    display: inline-block;
    box-sizing: border-box;
    background: #4362ca;
	overflow: hidden;
    height: 50px;
    width: 55px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
    border-radius: 6px; 
    position: absolute;
	-webkit-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
	-webkit-transition: 1.3s cubic-bezier(0.15, 0, 0, 0.97);
	-moz-transition: 1.3s cubic-bezier(0.15, 0, 0, 0.97);
	-o-transition: 1.3s cubic-bezier(0.15, 0, 0, 0.97);
	-ms-transition: 1.3s cubic-bezier(0.15, 0, 0, 0.97);
    transition: 1.3s cubic-bezier(0.15, 0, 0, 0.97);
	left: 0;
}
.menu.open {
    width: 100%;
    overflow: inherit;
} 
.dropdown-menu a.show-w3nav-link {
    color: #ffffff;
    font-size: .9em;
}
.w3nav {
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}
.menu ul.dropdown-menu {
    min-width: inherit;
    top: 143%;
    background-color: #4362ca;
}
.w3nav.show-w3nav {
    opacity: 1;
    padding: 1em 5em;
    text-align: center;
}
.w3nav.show-w3nav li a.show-w3nav-link {
	opacity: 1; 
} 
.menu ul.dropdown-menu li {
    margin: 0;
    display: block;
}
.w3nav.show-w3nav li a.show-w3nav-link:nth-of-type(2) {
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
}
.w3nav.show-w3nav li a.show-w3nav-link:nth-of-type(3) {
	-webkit-transition-delay: .6s;
	-moz-transition-delay: .6s;
	-o-transition-delay: .6s;
	-ms-transition-delay: .6s;
	transition-delay: .6s;
}
.w3nav.show-w3nav li a.show-w3nav-link:nth-of-type(4) {
	-webkit-transition-delay: .7s;
	-moz-transition-delay: .7s;
	-o-transition-delay: .7s;
	-ms-transition-delay: .7s;
	transition-delay: .7s;
}
.w3nav.show-w3nav li a.show-w3nav-link:nth-of-type(4) {
	-webkit-transition-delay: .9s;
	-moz-transition-delay: .9s;
	-o-transition-delay: .9s;
	-ms-transition-delay: .9s;
	transition-delay: .9s;
}
.w3nav li {
    display: inline-block;
    margin-right: 3em;
	position: relative;
}
.w3nav.show-w3nav li a {
	opacity: 0; 
	color: #fff;
	text-decoration: none; 
	transition: .3s;
	font-size:1.1em;
	-webkit-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-moz-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-o-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-ms-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
} 
.w3nav.show-w3nav li a:hover,.w3nav.show-w3nav li a.active{
    color: #09e3ff;
    background-color: transparent;
} 
.toggle {
    position: relative;
    height: 50px;
    width: 55px;
    cursor: pointer;
}
.toggle:after, .toggle:before {
	content: '';
	background: #ffffff;
	width: 28px;
	height: 4.5px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-moz-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-o-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	-ms-transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.toggle:before {
	top: -24%;
}
.toggle:after {
	top: 28%;
}
.toggle.close:before {
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	-o-transform: rotate(-225deg);
	-ms-transform: rotate(-225deg);
	transform: rotate(-225deg);
	top: 0;
}
.toggle.close:after {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	-ms-transform: rotate(225deg);	
	transform: rotate(225deg);
	top: 0;
} 
.toggle.close { 
    opacity: 1;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
} 
/*-- //menu --*/ 
/*-- banner-text --*/ 
.banner-text {
    margin-top: 15em;
}
.banner-w3lstext h2 ,.banner-w3lstext h3{
    font-size: 6em;
    color: #fff; 
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
.banner-w3lstext h2 a,.banner-w3lstext h2 a:hover{ 
    color: #fff; 
	text-decoration:none;
}
.banner-w3lstext p {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    line-height: 2em;
    width: 55%;
    margin: 2em auto 0;
    font-weight: 300;
}
/*-- //banner --*/ 
/*-- welcome --*/
.welcome,.trips,.news,.about,.team,.services,.gallery,.contact,.codes{
	padding: 5em 0; 
}
p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}
.welcome-w3lleft {
    float: right;
}
.welcome-w3lright {
    margin-top: 2em;
}
.welcome-w3lleft h3{
    color: #05c0d8;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-transform: capitalize;
	font-family: 'Dancing Script', cursive;
}
.welcome-w3lleft h5 {
    color: #333;
    font-size: 1.2em;
    margin: 0 0 1em;
    line-height: 1.8em;
    font-weight: 300;
    letter-spacing: 2px;
} 
.service-box { 
	padding: 0; 
	text-align: center;
}
.service-box .agileits-wicon {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #4362ca;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.service-box .agileits-wicon i.fa {
    position: relative;
    z-index: 100;
    font-size: 2.2em;
    color: #fff;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.service-box .agileits-wicon:before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background: #05c0d8;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s;
}
.service-box:hover .agileits-wicon  i.fa {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7); 
}
.service-box:hover .agileits-wicon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.service-box h5 {
    color: #000;
    font-size: 1.1em;
    margin: 0.8em 2em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}
.welcome-grids:nth-child(2) {
  margin-top: 3em;
}
/*-- read more Button --*/
.w3layouts-more {
    border: 1px solid #4362ca;
    color: #4362ca;
    font-size: 1em;
    padding: 0.7em 1.9em;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 1.8em;
	text-decoration:none;
}
.w3layouts-more:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #05c0d8;	
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}  
.w3layouts-more:hover,
.w3layouts-more:active {
	color: #fff;
	border-color:#05c0d8;
} 
.w3layouts-more:hover:after,.w3layouts-more:active:after{
	width: 100%;
	opacity: 1;
}  
/*-- //read more Button --*/ 
/*-- //welcome --*/
/*-- trips --*/
.trips{
	background:url(../images/banner.jpg)no-repeat center bottom fixed;
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover;
	-ms-background-size:cover; 	
	background-size:cover; 
}
.trips-agileinfo {
    overflow: hidden;
}
.trip-agileitsimg{
	background:url(../images/img1.jpg)no-repeat center 0px;
	background-size:cover; 
	min-height:414px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.trip-agileitsimg:hover{
	-webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5); 
	-o-transform: scale(1.5); 
	-ms-transform: scale(1.5); 
	transform: scale(1.5); 
}
.trip-agileitstext {
    background: #fff;
    padding: 3em;
}
.trips img.trip-w3img { 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border-radius: 50%;
} 
.item.agile-item {
    text-align: center;
}
.owl-carousel {
    padding: 0 3em;
	margin-top: 3em; 
}
.owl-prev:before, .owl-next:before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 2px 10px;
}
.owl-next:before {
    content: "\f105"; 
}
/*-- //trips --*/
/*-- news --*/
h3.w3agileits-title{
    color: #05c0d8;
    font-size: 3em;
    font-weight: 700; 
    text-transform: capitalize;
	font-family: 'Dancing Script', cursive;
	text-align:center;
	margin-bottom: 1em;
}
.list-inline> li {
    margin: 10px 0;
    display: block;
	padding: 0;
}
.list-inline> li a{ 
    display: block; 
}
.desoSlide-wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.desoSlide-overlay {
    z-index: 10;
    color: #fff;
    font-size: 1em;
    text-align: left;
    font-weight: 300;
    line-height: 1.6em;
    padding: 2.5em;
    opacity: 0;
    filter: alpha(opacity=100);
    background: #000;
    width: 38% !important;
    position: absolute;
    top: 16% !important;
    left: -50% !important;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.desoSlide-overlay  h3 {
    color: #00e3ff;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
}
.desoSlide-wrapper:hover .desoSlide-overlay {
	left: 0% !important;
}
.desoSlide-overlay  ul li{ 
	display:block;	
} 
.desoSlide-overlay  ul li a {
    display: block;
	padding: 1em;
	-moz-opacity: 0.7; 
	opacity: 0.7;
}
.desoSlide-overlay  ul li a:hover {
	-moz-opacity: 1;
    opacity: 1;
}
.desoSlide-overlay  ul li a span.glyphicon {
    font-size: 1.3em;
    color: #fff;
}
.desoSlide-overlay  ul li a h6 {
    font-size: 0.9em;
    color: #fff;
    margin-top: .5em;
}
.news-w3text {
    float: right;
    width: 66%;
} 
.news-w3text  h4 {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
}
.news-w3text h6 {
    font-size: .9em;
    color: #05c0d8;
    margin: 1em 0 .5em;
    font-weight: 400;
}
.news-w3text h6 i.fa{
    font-size: .9em;
    margin-right: 7px;
    vertical-align: top;
}
.news-w3text p {
    font-size: 0.9em; 
    line-height: 1.7em;
}
/*-- //news --*/
/*-- footer --*/ 
.footer{
	padding: 3em 0; 
	background:#1d1d1d; 
}
.footer h3 {
    font-size: 2.5em;
    color: #4362ca;
    margin-bottom: 0.5em;
    font-family: 'Dancing Script', cursive;
}
.footer-grids:nth-child(1) {
    padding: 0 5em 0 0;
}
.footer-grids span {
    display: block;
}
.footer-grids span a {
    color: #EA7686;
}
.footer-grids span a:hover{
    color: #333;
}
.footer-bottom {
    margin-top: 2.5em;
}
/* Icons */
.footer-bottom a {
    color: #05c0d8;
    background: #ffffff;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 32px;
    height: 32px;
}
.footer-bottom a i.fa {
    display: inline-block;
    line-height: 2.3em;
}
.footer-bottom a:hover {
    background: #05c0d8;
    color: #fff;
}
/* pop-up text */
.footer-bottom a span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px;
    font-size: 1em;
    border-radius: 2px;
    background: #05c0d8;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.footer-bottom a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #05c0d8;
  position:absolute;
  bottom:-5px;
  left:36px;
}
.footer-bottom a:hover span {
    bottom: 41px;
    visibility: visible;
    opacity: 1;
}
 
/*-- Icons --*/
.footer a.footer-img {
    display: inline-block;
}
.footer img {
    display: inline-block;
	border: 3px solid #fff;
	padding: 5px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.footer img:hover {
    border-color: #19c5db;
}
.footer-copy {
    margin: 2em 0 0;
    padding: 1em 0;
    border-top: 1px dashed #424242;
    border-bottom: 1px dashed #424242;
}
.footer p {
	color:#fff; 
	font-weight: 300;
}
.footer-copy p { 
    text-align: center;
}
.footer-copy p a {
    color: #05c0d8;
}
.footer-copy p a:hover{
    color: #fff;
}
.footer-copy:hover{
    border-color: #05c0d8;
}
/*--//footer--*/
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/
/*-- about --*/
.banner.w3about {
    min-height: 260px;
}
.w3about .banner-text {
    margin-top: 4em;
}
.w3about .banner-w3lstext h2{
    font-size: 4em;
    color: #05c0d8; 
}
.about h5 {
    font-size: 1.5em;
    color: #000;
}
.about h4 {
    font-size: 2em;
    color: #1ABC9C;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
} 
.about .bs-example.bs-example-tabs .nav-tabs {
    border: none;
    margin: 0 0 1.5em;
}
.about .bs-example-tabs ul.nav-tabs li {
    display: inline-block;
    margin-right: 3em;
	float: none;
}
.about .bs-example-tabs ul.nav-tabs li:nth-child(1) {
    border-right: 2px solid #d6d6d6;
    padding-right: 3em;
}
.about .bs-example-tabs ul.nav-tabs li a {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 300;
    font-size: 1.2em;
    border: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    outline: none;
    letter-spacing: 2px;
}
.about .bs-example-tabs ul.nav-tabs li a:focus{
	text-decoration: none;
}
.about .bs-example-tabs ul.nav-tabs li a:hover,.about .bs-example-tabs ul.nav-tabs li.active a {
    color: #05c0d8; 
}
.about .tabcontent-grids ul li {
    display: block;
    color: #999;
    margin-top: 1.2em;
    font-size: 1em;
}
.about .tabcontent-grids ul li  i.fa {
    margin-right: 0.5em;
    color: #4362ca;
}  
/*-- progress-bars --*/
.services {
    background: url(../images/banner.jpg)no-repeat center 0px fixed;
    background-size: cover;
}
.b_label {
    color: #fff;
    margin-bottom: 6px;
    font-weight: 300;
}
.bar_group {
    position: relative;
    z-index: 0;
    padding: 0;
    width: 70%;
    margin: 0 auto;
}
.bar_group__bar.thin::before, .bar_group__bar.thick::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
    background: #E4E4E4; 
}
.bar_group__bar.thin {
	width: 0%;
	height: 6px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #4362ca;
	margin-bottom: 2em;
	-webkit-transition: width 1s;
	transition: width 1s;
	-moz-transition: width 1s; 
}
/*-- //progress-bars --*/
/*-- team --*/ 
.team-agile-img a {
    display: block;
}
.team-agile-img {
  background-color: #FFF;
  display: block; 
  overflow: hidden;
  position: relative; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  filter: alpha(opacity=100);
}
.team-agile-img img { 
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.team-agile-img:before {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.team-agile-img:hover {
  cursor: pointer;
}
.team-agile-img:hover:before {
  background-color: rgba(0, 0, 0, 0.8);
}
.team-agile-img:hover .view-caption {
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  -webkit-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}

.view-caption {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    height:30%;
    left: 0;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    text-align: left;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(150%) scale(1.5);
    -o-transform: translateY(150%) scale(1.5);
    -ms-transform: translateY(150%) scale(1.5);
    -webkit-transform: translateY(150%) scale(1.5);
    transform: translateY(150%) scale(1.5);
}
.view-caption .w3ls-info {
  float: left;
}
.view-caption .w3ls-info h4 {
    color: #4362ca;
    font-size: 1.5em;
    font-weight: 400;
}
.view-caption .w3ls-info p {
    color: #fff;
    font-size: 1em;
}
.view-caption ul {
  float: right;
  display: inline-block;
}
.view-caption ul li {
  display: inline-block;
}
.view-caption ul li a {
    background-color: #fff;
    border-radius: 50%;
    color: #17b9ea;
    display: inline-block;
    margin: 0 2px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    width: 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.view-caption ul li a:hover {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} 
/*-- //about --*/ 
/*-- gallery --*/  
.gallery-grid-img.gallery-mdl {
    margin: 2em 0;
}
.hover {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hover img {
  display: block;
  position: relative;
}
.hover h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    padding: 10px;
    letter-spacing: 1px;
}    
 
.ehover14 img{
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.ehover14:hover img{
	-ms-filter: brightness(1.4);
	filter: brightness(1.4);
	-webkit-filter: brightness(1.4);
}
.ehover14 .overlay {
    -moz-opacity: 0;
    opacity: 0;
    width: 65%;
    height: 65%;
    left: 19%;
    top: 16%;
    border: 5px solid #fff;
    -webkit-transition: opacity 0.35s, transform 0.35s;
    -moz-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 3em 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
}
.ehover14:hover .overlay {
    background-color: rgba(0, 0, 0, 0.71);
}
 
.ehover14 h4 {
	background-color: transparent;
	color:	#FFF;
	padding:0.8em 0 1em;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, transform 0.5s; 
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transform: translate3d(-150%,-400%,0);
	-moz-transform: translate3d(-150%,-400%,0);
	-o-transform: translate3d(-150%,-400%,0);
	transform: translate3d(-150%,-400%,0);
	-ms-transform: translate3d(-150%,-400%,0);
}
.ehover14:hover h4{
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.ehover14:hover .overlay{
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
}
.gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 3em 0;
}
/*-- //gallery --*/ 
/*-- contact --*/
.contact-info {
    margin-top: 3em;
}
.contact-info h5 {
    font-size: 1.3em;
    color: #333;
	line-height: 1.5em;
}
.contact-info p { 
    margin: 1em 0 0;
}
.contact-form {
    margin-top: 2em;
}
.contact-info h3.title1 {
    text-align: left;
    font-size: 2em;
    font-weight: 300;
    color: #05c0d8;
}
.contact-form input[type="text"] {
    width: 36%;
    color: #999;
    background: none;
    outline: none;
    font-size: 0.9em;
    padding: .7em .8em;
    margin-right: 1.5em;
    border: 1px solid #999;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.contact-form textarea {
	resize: none;
	width: 100%;
	background: none;
	color: #999;
	font-size: .9em;
	outline: none;
	padding:.7em .8em;
	border: solid 1px #999;
	min-height: 10em;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	display: block;
}
.contact-form input[type="submit"] {
    border: 1px solid #4362ca;
    outline: none;
    color: #fff;
    padding: .6em 3.8em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #4362ca;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
  background: none;
  color: #4362ca;
} 
.cnt-address p span {
    display: block;
}
.cnt-address p a {
    color: #4362ca;
}
.cnt-address p a:hover{
    color: #999;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
/*-- //contact --*/
/*-- Short-codes --*/ 
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:4em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none; 
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none; 
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
} 
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color: #4362ca !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
@media (max-width:1080px){
.icon-box {
    padding: 8px 9px; 
}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	h3.agileits-icons-title { 
		font-size: 30px; 
	}
	h3.icon-subheading {
		font-size: 22px; 
	}
	.icons .bs-glyphicons li { 
		width: 31%; 
	} 
}
@media (max-width: 320px){ 
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}
/*-- //Short-codes --*/  
/*-- login-form --*/
.login-form {
    width: 60%;
    margin: 0 auto;
}

.login-form input[type="text"], .login-form input[type="password"] {
    font-size: 1em;
    color: #555;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #999;
    background: none;
    -webkit-appearance: none;
}
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label {
    font-size: 1.1em;
    color: #05c0d8;
    top: -1.3em;
    -webkit-transition: all 0.125s ease;
	-moz-transition: all 0.125s ease; 
    transition: all 0.125s ease;
}
.styled-input {
	width:100%;
	margin: 2em 0 1em;
	position: relative;
}
.styled-input label {
    color: #555;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
    font-weight: 400;
    font-size: 1em;
    display: block;
    line-height: 1em;
	z-index: -1;
}
.styled-input input ~ span {
	display: block;
	width: 0;
	height:2px;
	background:#05c0d8;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	transition: all 0.125s; 
}
.styled-input input:focus { outline: 0; }

.styled-input input:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.login-form p {
    font-size: 1em;
    margin: 1em 0 0;
    text-align: center;
}
.login-form p a {
    color: #05c0d8;
    margin-left: 5px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
	text-decoration:none;
}
.login-form p a:hover{
    color: #555; 
}
/*-- checkbox --*/
.wthree-text input[type="checkbox"] {
    display: none;
}
.wthree-text input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.8em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #555;
    cursor: pointer;
    display: block;
    font-weight: 400;
}
.wthree-text input[type="checkbox"]+label span:first-child {
    width: 16px;
    height: 16px;
    border: 2px solid #05c0d8;
    position: absolute;
    left: 0;
    top: 1px;
}
.wthree-text input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 10px;
}
/*-- //checkbox --*/
.wthree-text {
    margin: 3em 0; 
}
.wthree-text ul li {
    display: inline-block; 
} 
.wthree-text ul li:nth-child(2) {
    margin-top: 1.5em;
    display: block;
    text-align: center;
}
.wthree-text ul li a{
	font-size:1em;
    color: #555;
}
.wthree-text ul li a:hover{
    color: #4362ca;
}
.login-form input[type="submit"] {
    text-transform: capitalize;
    background: #4362ca;
    color: #FFFFFF;
    padding: .7em 2em;
    border: none;
    font-size: 1em;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    width: 100%;
    -webkit-appearance: none;
}
.login-form input[type="submit"]:hover {
    background: #05c0d8;
}
.login-form.signup-form label {
    text-align: left;
}
/*-- //login-form --*/
/*-- banner-modal --*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}
.modal-body {
    padding: 0 2em 2.5em;
}
.modal-dialog {
    margin: 6em auto 0;
} 
.modal-body h4 {
    font-size: 2em;
    margin-bottom: 0.4em;
    font-family: 'Dancing Script', cursive;
    color: #05c0d8;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.bnr-modal .modal-header {
    border: none;
    min-height: 2.5em;
    padding: 0.5em 2em 0;
}
.bnr-modal button.close {
    color: #4362ca;
    opacity: .9;
    font-size: 2.5em;
	outline:none;
}
.modal-body p {
    font-weight: 300;
} 
/*-- //banner-modal --*/
/*-- responsive-design --*/
@media(max-width:1440px){
.logo { 
    width: 57%; 
}
} 
@media(max-width:1080px){
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 5em; 
}
.banner-text {
    margin-top: 13em;
}
.banner { 
    min-height: 675px;
}
.trip-agileitstext { 
    padding: 2em;
}
.owl-carousel {
    padding: 0 2em; 
}
.news-left {
    padding: 0;
}
.list-inline> li {
    margin: 15px 0; 
}
.banner-w3lstext p { 
    width: 60%; 
}
.welcome, .trips, .news, .about, .team, .services, .gallery, .contact, .codes {
    padding: 4em 0;
}
.trip-agileitsimg { 
    min-height: 412px; 
}
.desoSlide-overlay { 
    width: 52% !important; 
}
.w3layouts-more { 
    margin-top: 1.2em; 
}
.team-grids {
    padding: 0 .5em;
} 
.view-caption { 
    height: 33%; 
    padding: 15px 15px; 
}
.ehover14 .overlay { 
    padding: 2em 0; 
}
.gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 2.5em 0;
}
.contact-form input[type="submit"] { 
    padding: .6em 2.5em; 
}
.map iframe { 
    min-height: 300px; 
}
} 
@media(max-width:991px){
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 4em;
	
}
.banner-w3lstext p {
    font-size: 1.1em;
    width: 73%;
	margin: 1em auto 0;
}
.banner {
    min-height: 590px;
}
.banner-text {
    margin-top: 11em;
}
.welcome-w3lleft {
    float: none;
}
.trip-agileitsimg {
    min-height: 330px;
}
.news-w3text { 
    width: 83%;
}
.news-right {
    padding: 0;
}
.footer-grids:nth-child(1) {
    padding: 0 5em 0 1em;
}
.footer-grids:nth-child(2) {
    margin: 1.5em 0;
}
.team-grids {
    padding: 0 4em;
}
.team-grids {
    padding: 1em;
}
.team-row {
    width: 80%;
    margin: 0 auto;
}
.w3nav.show-w3nav { 
    padding: 1em 2em; 
}
.about-right {
    padding: 0;
    margin-top: 3em;
}
.about .bs-example.bs-example-tabs .nav-tabs {
    border: none;
    margin: 0 0 1em;
}
.logo h1 {
    font-size: 3em;  
}
.header-right { 
    padding-top: 0.6em;
}
.w3about .banner-w3lstext h2 {
    font-size: 4em; 
}
.banner.w3about {
    min-height: 205px;
}
.w3about .banner-text {
    margin-top: 3em;
}
.gallery-grid-img {
    padding: 0 .5em;
}
.gallery-grid-img.gallery-mdl {
    margin: 1em 0;
}
.ehover14 .overlay {
    padding: 1em 0;
}
.contact-form {
    margin-top: 1em;
}
.contact-info h5 { 
    margin: 1em 0 0;
}
}
@media(max-width:800px){
.about-right { 
    margin-top: 2em;
}
.welcome, .trips, .news, .about, .team, .services, .gallery, .contact, .codes {
    padding: 3.5em 0;
}
h3.w3agileits-title { 
    font-size: 2.5em; 
}
.contact-form input[type="submit"] {
    padding: .6em 3.3em;
} 
}
@media(max-width:768px){
.map iframe {
    min-height: 255px;
}
.w3about .banner-w3lstext h2 {
    font-size: 2.5em;
}
.banner.w3about {
    min-height: 185px;
}
}
@media(max-width:667px){
.w3nav.show-w3nav li a { 
    font-size: 1em; 
}
.w3nav li { 
    margin-right: 2em; 
}
.banner-text {
    margin-top: 9em;
}
.header {
    padding-top: 1.5em;
}
.banner {
    min-height: 500px;
}
.banner-w3lstext p {
    font-size: 1em;
    width: 82%; 
}
.service-box .agileits-wicon {
    width: 80px;
    height: 80px; 
}
.service-box .agileits-wicon i.fa { 
    padding: 0.8em 0; 
}
.welcome-w3lleft h3 { 
    font-size: 2.5em; 
    margin-bottom: 0.2em; 
}
.welcome-w3lleft h5 { 
    margin: 0 0 0.5em; 
}
.news-w3text {
    width: 83%;
    padding-left: 1.5em;
}
.list-inline> li { 
    padding-left: 1em;
}
.logo h1 {
    font-size: 2.5em;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 3em;
}
.menu,.toggle{ 
    height: 45px;
    width: 50px; 
}
.modal-dialog {
    margin: 6em auto 0;
    width: 85%;
}
.gallery-grid-img.gallery-mdl {
    margin: 0;
}
.gallery-grid-img {
    padding: 0.5em .5em;
}
.ehover14 .overlay { 
    width: 75%;
    height: 75%;
    left: 11%;
    top: 12%; 
}
.ehover14 h4 { 
    padding: 2.1em 0 1em; 
}
.banner.w3about {
    min-height: 165px;
}
.team-row {
    width: 85%; 
}
.contact-form input[type="submit"] {
    padding: .6em 2.2em;
}
} 
@media(max-width:640px){
.welcome, .trips, .news, .about, .team, .services, .gallery, .contact, .codes {
    padding: 3em 0;
}
.w3layouts-more { 
    font-size: 1em;
    padding: 0.6em 1.5em;
}
.news-w3text {
    width: 81%;
    padding-left: 1.5em;
}
.contact-form input[type="text"] { 
    margin-right: .5em; 
}
.contact-form input[type="submit"] {
    padding: .6em 3em;
}
.contact-info h5 {
    font-size: 1.1em; 
}
.contact-info p {
    margin: 0.5em 0 0;
}
.footer {
    padding: 2em 0; 
}
.login-form {
    width: 70%; 
}
} 
@media(max-width:600px){
.contact-form input[type="submit"] {
    padding: .6em 2.5em;
}
.desoSlide-overlay {
    width: 65% !important;
	padding: 2em;
	left: -100% !important;
}
}
@media(max-width:568px){
.news-w3text {
    width: 79%; 
}
.w3nav li {
    display: block;
    margin-top: 1.5em;
}
.w3nav li:nth-child(1){ 
    margin-top: 0;
}
.w3nav.show-w3nav li a { 
    display: block;
}
.menu.open {
    height: inherit;
    z-index: 9999;
}
.w3nav.show-w3nav {
    padding: 2em 2em;
}
.menu ul.dropdown-menu {
    min-width: 100%; 
    text-align: center;
}
.bar_group { 
    width: 80%; 
}
.bar_group__bar.thin { 
    margin-bottom: 1em; 
}
.team-row {
    width: 100%;
}
.ehover14 h4 {
    padding: 1.6em 0 1em;
}
.gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 1.7em 0;
}
.map iframe {
    min-height: 220px;
}
.contact-grids {
    padding: 0;
}
.contact-form input[type="text"] {
    width: 35.6%;
}
.wthree-text {
    margin: 2em 0;
}
} 
@media(max-width:480px){
.banner-text {
    margin-top: 5em;
}
.banner-w3lstext p {
    font-size: 0.9em; 
}
.banner {
    min-height: 380px;
}
.trip-agileitsimg {
    min-height: 240px;
}
.trip-agileitstext.welcome-w3lleft {
    padding: 1.8em;
}
.owl-carousel { 
    margin-top: 2em;
}
.welcome-w3lleft,.welcome-w3lright{ 
    padding: 0;
}
.welcome-w3lleft h5 { 
    font-size: 1.1em; 
    letter-spacing: 1px;
}
.w3layouts-more {
    font-size: 0.9em;
    padding: 0.6em 1.2em;
    margin-top: 1em;
} 
.news-w3text {
    width: 75%;
}
.desoSlide-overlay { 
    font-size: 0.9em; 
}
.desoSlide-overlay {
    width: 83% !important; 
}
.team-grids {
    padding: 0.5em;
}
.footer h3 {
    font-size: 2.2em; 
    margin-bottom: 0.2em; 
}
p {
    font-size: 0.9em; 
}
.banner.w3about {
    min-height: 159px;
}
.ehover14 h4 {
    padding: 1.3em 0 1em;
}
.gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 1.3em 0;
}
.contact-form input[type="text"] {
    width: 100%;
    margin: 1em 0 0;
}
}
@media(max-width:414px){
.header-right ul li { 
    margin-left: 1em;
} 
.banner-w3lstext p { 
    width: 91%;
}	 
.logo h1 {
    font-size: 2.1em;
    text-shadow: 2px 1px 0px #fff;
}
.logo {
    width: 61%;
}
.welcome-grids:nth-child(2) {
    margin-top: 2em;
}
.welcome-w3lleft h3 {
    font-size: 2.2em; 
}
.trip-agileitsimg {
    min-height: 200px;
}
.news-w3text {
    width: 70%;
}
.desoSlide-overlay { 
    padding: 1.5em; 
    top: 14% !important;
}
.footer a.footer-img { 
    width: 25%;
}
.footer img { 
    border: 2px solid #fff;
    padding: 3px; 
    width: 100%;
}
.about-left {
    padding: 0;
}
.bar_group {
    width: 90%;
}
.welcome, .trips, .news, .about, .team, .services, .gallery, .contact, .codes {
    padding: 2em 0;
}
.team-grids {
    padding: 0.5em 4.5em;
    width: 100%;
}
.gallery-grid-img { 
    width: 100%;
}
.ehover14 h4 ,.gallery-grid-img.gallery-mdl.ehover14 h4{
    padding: 3em 0 1em;
}
.service-box h5 { 
    font-size: 1em; 
}
.footer-grids:nth-child(1) {
    padding: 0 2em 0 1em;
} 
}
@media(max-width:384px){
.news-w3text {
    width: 68%;
    padding-left: 1em;
}
.news-w3text h4 { 
    font-size: 1.2em; 
}
.news-w3text h6 {
    font-size: .85em; 
}
.desoSlide-overlay { 
    top: 10% !important;
    width: 95% !important;
}
.ehover14 h4, .gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 2.5em 0 1em;
}
.contact-form input[type="submit"] { 
    font-size: 0.9em;
}
.login-form input[type="text"], .login-form input[type="password"],.wthree-text ul li a,.login-form input[type="submit"] {
    font-size: 0.9em; 
}
.wthree-text input[type="checkbox"]+label { 
    font-size: 0.9em; 
} 
.trips img.trip-w3img { 
    width: 80%;
}
.contact-info h3.title1 { 
    font-size: 1.5em; 
}
.contact-info h5 {
    font-size: 1em;
}
.header-right ul li a {
    font-size: 1em; 
}
.footer-grids {
    padding: 0;
}
.footer-grids:nth-child(1) {
    padding: 0;
} 
.styled-input input:focus ~ label, .styled-input input:valid ~ label {
    font-size: 1em; 
}
} 
@media(max-width:320px){
.header {
    padding-top: 1em;
}
.menu, .toggle {
    height: 38px;
    width: 45px;
}
.toggle:before {
    top: -18%;
}
.toggle:after, .toggle:before { 
    width: 27px;
}
.logo h1 {
    font-size: 1.8em;
    text-shadow: 2px 1px 0px #fff;
}
.header-right ul li a {
    font-size: 0.9em; 
}
.header-right ul li {
    margin-left: 0.5em;
}
.logo {
    width: 59%;
}
.banner-w3lstext h2, .banner-w3lstext h3 {
    font-size: 2.5em;
}
.banner-w3lstext p {
    width: 95%;
    font-size: 0.85em;
}
.banner {
    min-height: 345px;
}
.banner-text {
    margin-top: 4em;
}
.welcome-w3lleft h5 {
    font-size: 1em;
    letter-spacing: 0px;
}
.welcome-grids:nth-child(2) {
    margin-top: 1em;
}
.service-box .agileits-wicon {
    width: 60px;
    height: 60px;
}
.service-box .agileits-wicon i.fa {
    padding: 0.9em 0;
    font-size: 1.5em;
}
.service-box h5 {
    font-size: 0.9em;
    margin: 0.6em 1em 0;
}
.trip-agileitsimg {
    min-height: 150px;
}
.news-w3text {
    width: 62%;
    padding-left: 0.5em;
}
.news-w3text p {
    font-size: 0.85em; 
}
.list-inline> li {
    padding-left: 0.5em;
}
.desoSlide-overlay {
    top: 5% !important;
    width: 96% !important;
    font-size: 0.85em;
    padding: 1em;
}
.footer {
    padding: 1.5em 0;
}
.w3nav li { 
    margin-top: 1em;
}
.w3nav.show-w3nav {
    padding: 1em 1em;
}
.about .bs-example-tabs ul.nav-tabs li:nth-child(1) { 
    padding-right: 1.5em;
}
.about .bs-example-tabs ul.nav-tabs li { 
    margin-right: 1.5em; 
}
.about .tabcontent-grids ul li { 
    font-size: 0.9em;
}
h3.w3agileits-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.team-grids {
    padding: 0.5em 1em;
    width: 100%;
}
.ehover14 h4, .gallery-grid-img.gallery-mdl.ehover14 h4 {
    padding: 1.8em 0 1em;
}
.contact-info {
    margin-top: 2em;
}
.contact-info h5 {
    font-size: 0.9em;
}
.login-form {
    width: 90%;
}
.wthree-text {
    margin: 1em 0;
}
}
/*-- //responsive-design --*/